body{
color:#bebebe; 
font-size: 20px;
background-image:url("https://hdwallsource.com/img/2014/8/dark-background-pictures-17223-17779-hd-wallpapers.jpg");
background-size: cover;
background-repeat: no-repeat;
}
h1{
font-size: 55px;
color: white;
text-align:center;
}
h2{
color:#bebebe;
font-size: 25px;
}
h3{
color: white;
}
h4{
color: white;
}
footer{
color:black;
text-align: right;
font-size:11px; 
padding: 2px;
background-color:#bebebebe;
border:2px solid navy-blue; 
}
ul{
list-style-type: none;
margin:20;
overflow:hidden;
background-color:#3A3A3AFF;
text-align:center;
border:7px solid black ;
padding:5px;
}
li{
float:right;
padding-right:50px;
padding-left:50px; 
}
li a{
border:none;
text-align: center;
display:block;
text-decoration:underline;
color:orange;
font-size: 35px;
padding: 7px 8px;
}
li a:hover:not(.active){
background-color:gray;
padding:none;
}
.active{
background-color:black;
}
#stihl{
padding-left: 50px;
padding-right: 50px;
height: 150px;
width: 150px; 
}
#souff{
padding-left:50px;
padding-right:50px;
height:150px;
width: 150px 
}
#both{
padding-left:50px;
padding-right:50px;
height:150px;
width: 150px
}
#echo{
padding-left:50px;
padding-right:50px;
height:150px;
width: 150px
}
#honda{
padding-left:50px;
padding-right:50px;
height:150px;
width: 150px
}
#logbox{
padding:none;
border:solid black 2px;  
}
footer{
font-size:11px;
color:white;
background-color:#bebebe;
padding:2px;
float:right;   
}
