
body{
background-image:url("https://hdwallsource.com/img/2014/8/dark-background-pictures-17223-17779-hd-wallpapers.jpg");
background-size: cover;
background-repeat: no-repeat;
}
h1{
color: white;
text-align:center;
font-size:55px;
}
#div1{
border-style:solid white;
border-width: 100px;
background-color:black;
padding:none;
}
#div2{
background-width:50px;
background-color:grey;
border:solid red;
padding:25px;
}
